# Atividade 3

```{admonition} Atividade
Continue usando o conjunto de dados disponibilizado na primeira semana de aula.

Considerando as três covariáveis que vc usou semana passada faça:

1) Implemente o modelo de regressão linear múltipla utilizando operações com vetores e matrizes (não use a função lm).

2) Obtenha a matriz de variâncias e covariâncias dos coeficientes de regressão.

3) Obtenha a variância e o desvio padrão para cada coeficiente de regressão.

4) Obtenha a estatística t para cada coeficiente de regressão (exceto para o intercepto) e intereprete as estimativas e o teste. Quais covariáveis são importantes para descrever a variabilidade da variável resposta?

5) Para o modelo considerando as três covariáveis que você usou semana passado obtenha o coeficiente de determinação.

Usando os resultados da semana passada some os coeficientes de determinação de cada modelo individual. Explique pq a soma dos coeficientes de determinação dos ajsutes individuais não é igual a do modelo conjunto. Existe alguma situação em que o coeficiente de determinação do modelo conjunto é igual a soma dos coeficientes de determinação dos modelos individuais? Explique.
```

In [115]:
# Imports

import numpy as np
import pandas as pd
import statsmodels.api as sm

from IPython.display import display
from utils import read_cameras_dataset

%matplotlib inline

covariaveis = ['weight_lens', 'weight_body', 'focal_length_min']

In [92]:
cameras_dataframe = read_cameras_dataset()
price_e_covariaveis_dataframe = cameras_dataframe[['price'] + covariaveis].dropna().astype(np.float64)

price_e_covariaveis_dataframe

       price  weight_lens  weight_body  focal_length_min
0     499.99         3.88        14.46              14.0
2    2096.95        16.10        30.34              16.0
3     499.99         7.40        15.20              18.0
5     498.00         4.09        12.13              16.0
19   2896.00        22.22        22.60              35.0
..       ...          ...          ...               ...
248  1449.00        18.16        24.73              18.0
249  2099.00        10.40        22.92              28.0
250   325.99         6.70        15.37              18.0
253  1623.90        12.34        29.63              85.0
254   996.95         4.76        15.87              16.0

[99 rows x 4 columns]

Seja X a matriz das covariaveis e Y o vetor das respostas, temos:

In [93]:
Y = price_e_covariaveis_dataframe['price']

vetor_beta0 = np.ones(len(price_e_covariaveis_dataframe))
X = np.vstack((vetor_beta0, price_e_covariaveis_dataframe[covariaveis].values.T)).T

display(pd.DataFrame(X))
display(Y)

      0      1      2     3
0   1.0   3.88  14.46  14.0
1   1.0  16.10  30.34  16.0
2   1.0   7.40  15.20  18.0
3   1.0   4.09  12.13  16.0
4   1.0  22.22  22.60  35.0
..  ...    ...    ...   ...
94  1.0  18.16  24.73  18.0
95  1.0  10.40  22.92  28.0
96  1.0   6.70  15.37  18.0
97  1.0  12.34  29.63  85.0
98  1.0   4.76  15.87  16.0

[99 rows x 4 columns]

0       499.99
2      2096.95
3       499.99
5       498.00
19     2896.00
        ...
248    1449.00
249    2099.00
250     325.99
253    1623.90
254     996.95
Name: price, Length: 99, dtype: float64

Estimando $\hat{\beta} = (X^{T} X)^{-1} X^{T} Y$, temos:

In [99]:
beta_estimado = np.linalg \
                  .inv(X.T.dot(X)) \
                  .dot(X.T) \
                  .dot(Y)

beta_estimado

array([-250.17574454,   74.82135626,   20.7988353 ,   12.18768157])

Usando a biblioteca StatsModels, temos:

In [119]:
fit = sm.OLS(Y, X).fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.593
Model:                            OLS   Adj. R-squared:                  0.580
Method:                 Least Squares   F-statistic:                     46.14
Date:                Sun, 24 Oct 2021   Prob (F-statistic):           1.73e-18
Time:                        20:17:09   Log-Likelihood:                -767.51
No. Observations:                  99   AIC:                             1543.
Df Residuals:                      95   BIC:                             1553.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -250.1757    179.353     -1.395      0.166    -606.236     105.884
x1            74.8214     12.424      6.022      0.000      50.157      99.486
x2            20.7988     13.087      1.589      0.115      -5.182      46.780
x3            12.1877      7.404      1.646      0.103      -2.511      26.887
==============================================================================
Omnibus:                       59.296   Durbin-Watson:                   2.224
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              273.316
Skew:                           1.953   Prob(JB):                     4.47e-60
Kurtosis:                      10.141   Cond. No.                         93.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""