# Trabalho No. 4

- Aluno: Guilherme Lisboa de Oliveira (GRR20170414)

```{admonition} Questões

Escrever um relatório com as respostas das questões.

```

A análise discriminante é um problema de classificação, onde dois ou mais grupos ou agrupamentos ou populações são conhecidos a priori e uma ou mais novas observações são classificadas em uma das populações conhecidas com base nas características medidas.

Dados de Insetos. Os dados foram coletados em duas espécies de insetos do gênero Chaetocnema, (a) concinna e (b) heikertlingeri. Variável **V1**.

Três variáveis foram medidas em cada inseto:

- **V2** largura da 1ª articulação do tarso (pernas)
- **V3** largura da 2ª articulação do tarso
- **V4** largura do edeago (órgão reprodutor)

Nosso objetivo é obter uma regra de classificação para identificar as espécies de insetos com base nessas três variáveis. Um entomologista pode identificar essas duas espécies intimamente relacionadas, mas as diferenças são tão sutis que é preciso ter uma experiência considerável para poder dizer a diferença. Se uma regra de classificação puder ser desenvolvida, essa pode ser uma maneira mais precisa de ajudar a diferenciar essas duas espécies diferentes.

Importando os dados e definindo a coluna **V1** como categórica, temos:

In [206]:
import pandas as pd

insetos = pd.read_table('./dados/insects.txt', sep=" ")
insetos.V1 = insetos.V1.astype('category')

insetos.sample(5)

   V1   V2   V3  V4
7   a  188  134  54
16  b  211  118  51
11  b  186  107  49
12  b  211  122  49
17  b  217  122  49

Construindo o modelo, temos:

In [207]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

modelo = LinearDiscriminantAnalysis()

X = insetos.iloc[:,1:4]
ajuste = modelo.fit_transform(X=X, y=insetos.V1)

Avaliando a acurácia do modelo:

In [208]:
import numpy as np
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score

validação_cruzada = RepeatedStratifiedKFold()

scores = cross_val_score(modelo, X, insetos.V1, scoring='accuracy', cv=validação_cruzada, n_jobs=-1)
np.mean(scores)

0.91

A análise de correlação canônica é um método para explorar as relações entre dois conjuntos multivariados de variáveis (vetores), todos medidos no mesmo indivíduo.

Considere um grupo de representantes de vendas, no qual registramos várias variáveis de desempenho de vendas juntamente com várias medidas de aptidão intelectual e criativa. Podemos querer explorar as relações entre as variáveis de desempenho de vendas e as variáveis de aptidão.

Uma abordagem para estudar as relações entre os dois conjuntos de variáveis é usar a análise de correlação canônica que descreve a relação entre o primeiro conjunto de variáveis e o segundo conjunto de variáveis. Não pensamos necessariamente em um conjunto de variáveis como independente e o outro como dependente, embora essa possa ser uma outra abordagem.

Os dados neste caso vêm de uma empresa que pesquisou uma amostra aleatória de (n = 50) de seus funcionários na tentativa de determinar quais fatores influenciam o desempenho de vendas. Duas coleções de variáveis foram medidas:

Performance de vendas:

- **V1** crescimento das vendas
- **V2** rentabilidade das vendas
- **V3** vendas de novas contas

Pontuações de testes como medida de inteligência:

- **V4** criatividade
- **V5** raciocínio mecânico
- **V6** raciocínio abstrato
- **V7** matemática

Existem (p = 3) variáveis no primeiro grupo relacionadas ao desempenho de vendas e (q = 4) variáveis no segundo grupo relacionadas aos resultados dos testes.

In [209]:
import pandas as pd

vendas = pd.read_table('./dados/sales.txt', sep=" ")

vendas.sample(5)

       V1     V2     V3  V4  V5  V6  V7
22   99.3  115.0  104.3   5  11  11  42
39  108.3  122.3  108.5  15  19  12  41
15  100.0  107.0  102.8  13  10   8  34
7    95.5   99.5   99.0   9  12   9  25
27  106.8  118.0  107.3  14  16  12  39

In [210]:
from sklearn.cross_decomposition import CCA

colunas_performance = ['V1', 'V2', 'V3']
colunas_testes = ['V4', 'V5', 'V6', 'V7']

X = vendas[colunas_testes]
Y = vendas[colunas_performance]

modelo = CCA()
modelo.fit(X, Y)

CCA()